.navbar {
  padding-top: 1rem;
  padding-bottom: 1rem;
  background-color: rgba(25, 25, 25, 0.52);
}

.navbar__menu {
  justify-content: space-evenly;
  display: flex;
  flex-direction: row;
  @media screen and (max-width: $desktop) {
    display: none;
    flex-direction: column;
  }
}

.navbar__menu--active {
  display: flex;
}

.navbar__item {
  font-size: 1.2rem;
  color:inherit;
  text-decoration: none;
  padding: 0.2rem;
  color: $fawn;
}

.navbar__item:active:focus {
  color: $fawn;
}

.locale {
  position:absolute;
  top: 2rem;
  right: 7rem;
}
