.navbar {
  height: 3rem;
  padding-top: 1.5rem;
  margin-bottom: 1rem;
  justify-content: space-evenly;
  display: flex;
  flex-direction: row;
  background-color: rgba(25, 25, 25, 0.52)
}

.navbar__item {
  font-size: 1.2rem;
  color:inherit;
  text-decoration: none;
  padding: 0.2rem;
  margin-bottom: 3rem;
  color: $fawn;
}

.navbar__item:active:focus {
  color: $fawn;
}
