.event {
    display: flex;
    flex-direction: row;
    text-align: center;
    height: 81.5vh;
    &:nth-child(2) {
        flex-direction: row-reverse;
        @media screen and (max-width: $desktop) {
            flex-direction: column-reverse;
        }
    }
    @media screen and (max-width: $desktop) {
        flex-direction: column-reverse;
    }
}
.event__description {
    padding: 1rem;
    flex: 2;
    text-align: center;
    height: 100%;
}
.event__title {
    font-size: 2.5rem;
}

.event__image {
    flex: 1;
    height: 100%;
    background-color: black;
    @media screen and (max-width: $desktop) {
        flex: 2;
    }
}