.event {
    display: flex;
    flex-direction: row;
    text-align: center;
    height: 100vh;
    &:nth-child(2) {
        flex-direction: row-reverse;
    }
}
.event__description {
    margin-top: 2rem;
    flex: 2;
    text-align: center;
    height: 100%;
}
.event__title {
    font-size: 2.5rem;
}


.event__image {
    flex: 1;
    height: 100%;
    background-color: black;
}