.layout {
  font-size: 1.3rem;
  position: relative;
  margin: 0 auto;
  max-width: $desktop;
  height: 100%;
  flex-direction: column;
  max-width: $desktop;
}
.header {
  height: 6rem;
}
.content {
  height: 100%;
  margin: 1rem;
}

.footer {
  height: 2rem;
}
