.layout {
  font-size: 1.3rem;
  position: relative;
  display: flex;
  margin: 0 auto;
  max-width: $desktop;
  height: 100%;
  flex-direction: column;
}
.header{
  flex: 1;
}
.content {
  flex: 3;
}

.footer {
  flex: 1;
}
