.layout {
  font-size: 1.3rem;
  position: relative;
  margin: 0 auto;
  max-width: $desktop;
}
.header {
  position: fixed;
  top: 0;
  left: 0;
  height: 4rem;
  width: 100%;
  z-index: 1;
}
.content {
  position: relative;
  display: flex;
  height: 100%;
  margin: 1rem;
  margin-top: 4rem;
  flex-direction: column;
}

.footer {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  height: 6rem;
}

.full-height {
  height: 100%;
}