.navbar {
  max-width: $desktop;
  display: flex;
  margin: auto;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  height: 100%;
  @media screen and (max-width: $desktop) {
    flex-direction: column;
  }
}

.navbar__menu {
  flex: 1;
  display: flex;
  justify-content: center;
  padding-right: 1rem;
  flex-direction: row;
  width: 100%;
  @media screen and (max-width: $desktop) {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 8vh;
    background-color: rgba(25, 25, 25, 0.8);
  }
}
.navbar__menu--active {
  display: flex;
}

.navbar-title {
  flex: 6;
}

.navbar__header {
  display: flex;
  flex: 1;
  justify-content: space-between;
  width: 100%;
  height: 100%;
}

.navbar__item {
  font-size: 1.2rem;
  color: inherit;
  text-decoration: none;
  text-align: end;
  padding: 0.4rem;
  color: $fawn;
}

.navbar__item:active:focus {
  color: $fawn;
}

.locale {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
  @media screen and (min-width: $desktop){
    //display: none;
  }
}

.locale__text {
  font-size: 1.25rem;
  color: $navajo;
  border: none;
  outline: none;
  background: transparent;
}
.locale__text-wrapper {
  flex: 1;
}

.burger-wrapper {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  @media screen and (min-width: $desktop){
    display: none;
  }
}
/* Holy fuck what a tyomaa
  This uses some dark magic to make a burger
*/
.burger {
  width: $burger-size;
  padding-top: $burger-size/4;
  > span {
    display: block;
    height: $burger-size / 4;
    border-top: ($burger-size * 0.1) solid black;
    border-color: $fawn;
  }
}
