.participants {
    align-content: center;
}
 
.list {
    width: 90%;
    max-width: $desktop/1.5;
    padding-top: 1rem;
    margin: auto;
}
.list>thead>th {
    text-align: center;
    font-size: 1.5rem;
}
.list>tr>td {
    font-size: 1.2rem;
    text-align: center;

}