.participants {
    align-content: center;
}
 
.list {
    width: 90%;
    max-width: $desktop/1.5;
    padding-top: 1rem;
    margin: auto;
}
.list>thead>th {
    width: 50%;
    text-align: center;
    font-size: 1.5rem;
}
.list>tr>td {
    font-size: 1.2rem;
    text-align: center;
}

.total {
    @extend .label;
    margin: auto;
    max-width: $desktop/1.5;
    align-self: center;
    text-align: center;
    padding-left: 1rem;
    padding-right: 1rem;
}