.form {
  margin: 1rem auto;
  margin-bottom: 0;
  text-align: center;
}
.field {
  width: 100%;
  margin-bottom: 1rem;
}
.input {
  margin-top: 0.5rem;
  height: 2rem;
  font-size: 1.1rem;;
  background: rgba(0,0,0,0.5);
  border-radius: 0.3rem;
  border: none;
  width: 80%;
  max-width: $desktop/2;
  text-align: center;
  border-bottom: 1px solid;
  border-color: $white;
  color: $navajo;
}

.input:focus {
  outline: none;
}

.label {
  font-size: 1.25rem;
  font-weight: 500;
}

.accept {
  max-width: $desktop/2;
  margin: auto;
  padding: 1rem;
}

.button {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  background: transparent;
  padding: 1.4rem;
  font-size: 2rem;
  text-decoration: none;
  margin: 1rem;
  border-radius: 0.3rem;
  cursor: pointer;
  border: 2px;
  border-style: solid;
  border-color: $navajo;
  color: $navajo;
}

.button:hover {
  background-color: rgba(196, 134, 134, 0.2);
}

.choose {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  text-align: center;
  padding-bottom: 1rem;
  padding-top: 3rem;
}

.choose-button {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  background: transparent;
  font-size: 1.25rem;
  text-decoration: none;
  margin: 0.2rem;
  padding: 1rem;
  border-radius: 0.2rem;
  cursor: pointer;
  border: 1px;
  border-style: solid;
  border-color: $navajo;
  color: $navajo;
}

.choose-button:disabled {
  color: $peru;
  border-color: $peru;
  cursor: default;
}

.button:disabled {
  color: $peru;
  border-color: $peru;
  cursor: default;
}

.closed-label {
  padding: 1rem;
  text-align: center;
}

.dish>*{
  display: inline;
}

.radio-padder {
  margin-left: 2rem;
}

.signup-header {
  hyphens: auto;
  color: $fawn;
  font-size: 2rem;
  @media screen and (max-width: $desktop) {
    font-size: 1.6rem;
  }
  padding: 1rem;
}
