.week {
    display: relative;
}

.event {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    flex-direction: row;
    height: 82vh;
    &:nth-child(2n) {
        flex-direction: row-reverse;
        @media screen and (max-width: $desktop) {
            flex-direction: column-reverse;
        }
    }
    @media screen and (max-width: $desktop) {
        flex-direction: column-reverse;
    }
}

.event__description {
    padding: 1rem;
    flex: 2;
    background-color: rgba(0, 0, 0, $week_opacity);
}

.event-padder {
    flex: 1;
    background-color: rgba(0, 0, 0, $week_opacity);
    @media screen and (max-width: $desktop) {
        display: none;
    }
}

.event__title {
    font-size: 2rem;
}
.image-filler {
    background-color: rgba(0, 0, 0, $week_opacity);
    width: 100%;
}

.teemu-image {
    opacity: $week_opacity;
    width: initial;
    height:100%;
}

.event__image {
    display: flex;
    flex: 1;
    height: 100%;
}