@charset "utf-8";

@import './modules/variables';
@import './modules/navbar';
@import './modules/layout';
@import './modules/signup';
@import './modules/week';
@import './modules/home';
@import './modules/participants';
@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700&display=swap');

html, body {
  position: relative;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  margin: 0;
  color: $navajo;
  height: 100%;
}

#app {
  background:
    linear-gradient(
      rgba(0,0,0,0.8),
      rgba(0,0,0,0.6)
    ),
    url('/src/assets/images/maapallo-min.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    overflow: hidden;
    min-height: 100vh;
}
