@charset "utf-8";

@import './modules/variables';
@import './modules/navbar';
@import './modules/layout';
//@import './modules/choose';
@import './modules/form';
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');
#app, html, body {
  font-family: 'Source Sans Pro', sans-serif;
  height: 100%;
  margin: 0;
  padding: 0;
  color: $navajo
}
#app {
  background:
    linear-gradient(
      rgba(0,0,0,0.8),
      rgba(0,0,0,0.8)
    ),
    url('/src/assets/images/vintage_map.jpg');
}
