@charset "utf-8";

@import './modules/colors';
@import './modules/bulma-overrides';
@import '~bulma/bulma';
@import './modules/navbar';
@import './modules/layout';
@import './modules/choose';
@import './modules/form';

#app, html, body {
  margin: 0;
  padding: 0;
}
#app {
  background:
    linear-gradient(
      rgba(0,0,0,0.8),
      rgba(0,0,0,0.8)
    ),
    url('/src/assets/images/vintage_map.jpg');
}
